.section {
  padding: 70px 0;
  @include media-breakpoint-up(lg) {
    padding: 150px 0;
  }
}

// SECTION STATS
.section-stats {
  background-image: url(../../images/bg-stats.png);
  background-repeat: no-repeat;
  background-position: left bottom;

  @include media-breakpoint-down(md) {
    padding-bottom: 618px !important;
  }
}
