.accordions > *:not(:last-child) {
  margin-bottom: 15px;
}

.accordion {
  padding: 20px 60px 24px 20px;
  text-align: initial;
  border-radius: 15px;
  background-color: $gray;
  color: $primary-dark;
  user-select: none;
  transition: all 0.2s ease;
  position: relative;

  &__heading {
    font-size: 18px;
    font-weight: 700;
    color: $primary-dark;
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 20px;
    height: 100%;
    width: 25px;
    background-image: url(../images/svg/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center top;
    transition: transform 0.2s ease;
    transform-origin: 50% 5px;
  }

  &--active::after {
    transform: rotate(180deg);
  }

  &--active &__body {
    padding-top: 14px;
  }

  &--active {
    box-shadow: 4px 4px 20px 5px rgba(0, 33, 71, 0.1);
    background-color: #fff;
  }

  @include media-breakpoint-up(lg) {
    padding: 32px 40px;

    &__heading {
      font-size: 20px;
    }

    &::after {
      top: 36px;
      right: 40px;
      height: 100%;
      width: 30px;
    }

    &--active &__body {
      padding-top: 22px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-right: 100px;
  }
}
