.stat-card {
  text-align: center;

  &__icon {
    min-height: 98px;
    display: inline-flex;
    align-items: center;
  }

  &__heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: $primary-dark;
  }
}
