.review-card {
  padding: 30px;
  background: #ffffff;
  box-shadow: 4px 4px 20px 5px rgba(0, 33, 71, 0.1);
  border-radius: 15px;
  text-align: initial;

  &__stars {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__text {
    color: $primary-dark;
    min-height: 132px;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-img {
    flex-shrink: 0;
  }

  &__author-name {
    color: $primary-dark;
    font-weight: 700;
  }
}
